
.popup-main{
    position: relative;
    width: 600rpx;
    padding-top: 30rpx;
    border-radius: 16rpx;
    background:#fff;
    .pop-close{
        position: absolute;
        right: 20rpx;
        top: 10rpx;
        color: #999;
    }
    .poptitle{
        line-height: 1.1;
        text-align: center;
        color: #333333;
    }
    .pop-input{
        padding: 20rpx 24rpx 60rpx;
        color: #666;
        line-height: 46rpx;
        font-size: 30rpx;
        .shopInfo{
            .imgBox{
                width: 72rpx;
                height: 72rpx;
                margin-right: 20rpx;
                border-radius: 50%;
                overflow: hidden;
                image{
                    width: 100%;
                    height: 100%;
                }
            }
            .info{
                flex: 1;
                .shopTitle{
                    font-size: 28rpx;
                    color:#222222;
                    font-weight: 600;
                    line-height: 28rpx;
                }
                .optBox{
                    margin-top: 20rpx;
                    .but{
                        display: inline-block;
                        margin-right: 20rpx;
                        width: 126rpx;
                        height: 42rpx;
                        line-height: 42rpx;
                        color: #E82E2E;
                        border: 1rpx solid #E82E2E;
                        border-radius: 22rpx;
                        text-align: center;
                        font-size: 24rpx;
                    }
                }
                .notice{
                    margin-top: 20rpx;
                    font-size: 24rpx;
                    color: #999999;
                    line-height: 36rpx;
                }
            }
        }
        .numBox{
            text-align: center;
            padding: 0 18rpx;
            margin-top: 20rpx;
            .num{
                color: #333333;
                font-size: 28rpx;
                font-weight: 600;
            }
            .numTitle{
                color: #999999;
                font-size: 24rpx;
            }
        }
        .remark{
            color: #333333;
            font-size: 24rpx;
            margin-top: 10rpx;
        }
        .goodsImg{
            margin-top: 10rpx;
            .imgBox{
                width: 108rpx;
                height: 108rpx;
                margin-right: 10rpx;
                image{
                    width: 100%;
                    height: 100%;
                    border-radius: 8rpx;
                }
            }
            .toShop{
                width: 60rpx;
                height: 108rpx;
                background: rgba(232, 46, 46, 0.14);
                border-radius: 4rpx;
                margin-left: 6rpx;
                color: #E82E2E;
                font-size: 24rpx;
                line-height: 30rpx;
                text-align: center;
                .iconfont2{
                    font-size: 24rpx;
                }
            }
        }
        .identityBox{
            margin-top: 26rpx;
            .identity{
                color: #222222;
                font-size: 28rpx;
                .iconfont2{
                    font-size: 28rpx;
                    color: #5DC560;
                    margin-left: 10rpx;
                }
            }
            .enterprise{
                color: #F8B14A;
                font-size: 28rpx;
                width: 280rpx;
                height: 64rpx;
                border-radius: 32rpx;
                border: 1rpx solid #F8B14A;
                line-height: 64rpx;
                text-align: center;
                .iconfont2{
                    font-size: 28rpx;
                    color: #F8B14A;
                    margin-left: 10rpx;
                }
            }
        }
        .contactBox{
            color: #333333;
            font-size: 28rpx;
            margin-top: 30rpx;
            background: #F8F8F8;
            padding: 20rpx;
            line-height: 40rpx;
            border-radius: 8rpx;
            .contactItem{
                margin-bottom: 20rpx;
            }
            .shareImgBox{
                padding: 0 20rpx;
                text-align: center;
                margin-top: 20rpx;
                .shareImg{
                    image{
                        width: 200rpx;
                        height: 200rpx;
                        border-radius: 8rpx;
                    }
                }
            }
        }
    }
    // 按钮
    .pop-btn{
        display: flex;
        border-top: 1rpx solid #eee;
        view{
            width: 100%;
            font-size: 28rpx;
            line-height: 86rpx;
            color: #666;
            text-align: center;
            letter-spacing: 0.05em;
            overflow: hidden;
        }
    }
    .pop-btn .submit1{
        color: $red;
        border-left: 1rpx solid #eee;
    }
}