
.container {
    padding: 20rpx 0 120rpx 0;
    box-sizing: border-box;
}
.title{
    height: 80rpx;
    line-height: 80rpx;
    padding-left: 20rpx;
    font-size: 28rpx;
}
.tui-title {
    padding: 40rpx 30rpx 20rpx;
    box-sizing: border-box;
    font-size: 32rpx;
}

.tui-content {
    padding: 20rpx 30rpx;
    background-color: #fff;
    color: #555;
    font-size: 26rpx;
}
.weInfo{
    font-size: 30rpx;
    color: #333;
    padding: 30rpx 44rpx;
}