.order-state{
	line-height: 160rpx;
	padding-top: 0;
}
.buyer_wrap{
	padding-top: 30rpx;
}
.buyer_title{
	padding-bottom: 26rpx;
	border-bottom: 1rpx solid #eee;
}
.container .listBox .list .label{font-size: 30rpx;}
// 商品
.flow-shopList{
	padding: 30rpx 0;
}
.goods_attr{
	background: none;
	padding: 0;
}
.flow-shopList .flow-list-left image{
	width: 128rpx;
	height: 128rpx;
}
.goods-detail {
  padding: 20rpx 30rpx;
}
.goods-detail .left .goods-image {
  display: block;
  width: 128rpx;
  height: 128rpx;
	border-radius: 4rpx;
}

.goods-detail .right {
  padding-left: 20rpx;
}