.login{
	height: 150rpx;
	background: white;
	padding: 0 30rpx;
}
.login2{
	height: 170rpx;
	background: white;
	padding: 0 30rpx;
  .poptitle{
      font-size: 32rpx;
      line-height: 60rpx;
	  height: 60rpx;
      color: #333333;
	  font-weight: 600;
	  margin-top: 14rpx;
  }
}
.btn-normal1{
	margin-top: 10rpx;
}
.btn-normal{
	height: 80rpx;
	line-height: 80rpx;
	background: #19AD19;
	color: #fff;
	font-size: 32rpx;
	border-radius: 8rpx;
	text-align: center;
	width: 100%;
}