
.weui-navigation-bar__inner{
    z-index: 2;
}
.container{
    background: #F7F7F7;
    line-height: 1;
    radio{
        transform:scale(0.7);
    }
    .mr-5{
        margin-right: 10rpx;
    }
    .mr-12{
        margin-right: 24rpx;
    }
    .m-top20{
        margin-top: 8rpx !important;
    }
    .pad-r{
        padding-right: 20rpx;
    }
    .pad-t-50{
        padding-top: 50rpx;
    }
    .tui-header-box {
        width: 100%;
        background: #fff;
        height: 90rpx;
        .tui-header {
            display: flex;
            align-items: flex-start;
            padding: 0 30rpx;
            
            .search-input {
                flex: 1;
              background: #F2F2F2;
              border-radius: 30rpx;
              padding-left: 26rpx;
              box-sizing: border-box;
              overflow: hidden;
                input {
                    flex: 1;
                    font-size: 30rpx;
                    height: 64rpx;
                    line-height: 64rpx;
                    margin-left: 24rpx;
                }
            }
            .tui-top-item {
                color: #333;
                height: 60rpx;
                line-height: 60rpx;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 28rpx;
                font-size: 30rpx;
                .iconfont2{
                    line-height: 62rpx;
                }
            }
            .tui-top-item1{
                width: 120rpx;
            }
            .tui-top-item2{
                width: 100rpx;
            }
        }
    }
    .contentBox{
        padding: 20rpx 0 120rpx;
        .optItemR{
            color: #E82E2E!important;
        }
        .optItemY{
            color: #F8B14A!important;
        }
        .listBox{
            min-height: 204rpx;
            background: white;
            margin-bottom: 20rpx;
            padding: 0 30rpx;
            position: relative;
            .goodsContent{
                height: 204rpx;
                .imgBox{
                    width: 144rpx;
                    height: 144rpx;
                    overflow: hidden;
                    border-radius: 8rpx;
                    position: relative;
                    image{
                        width: 144rpx;
                        height: 144rpx;
                    }
                    .state{
                        position: absolute;
                        bottom: 0;
                        height:36rpx;
                        background:rgba(0,0,0,0.5);
                        border-radius:0px 0px 4px 4px;
                        width: 100%;
                        font-size:24rpx;
                        font-family:PingFangSC-Regular,PingFang SC;
                        font-weight:400;
                        color:white;
                        text-align: center;
                        line-height: 36rpx;
                    }
                }
                .goodsInfo{
                    width: 100%;
                    .goods_name{
                        width: 478rpx;
                        color: #333;
                        font-size: 28rpx;
                        font-weight: 600;
                        height: 28rpx;
                    }
                    .goods_price{
                        color: #333;
                        font-size: 28rpx;
                        margin-top: 10rpx;
                        font-weight: 600;
                    }
                    .stateBox{
                        color: #666;
                        font-size: 24rpx;
                        margin-top: 10rpx;
                        .line{
                            height: 24rpx;
                            width: 1rpx;
                            background: #D8D8D8;
                            margin: 0 16rpx;
                        }
                        .souceLabel{
                            width: 80rpx;
                        }
                        .souceContentBox{
                            flex: 1;
                        }
                        .souceContent{
                            line-height: 30rpx;
                            height: 30rpx;
                        }
                        .updataIcon{
                            font-size: 24rpx;
                            margin-left: 10rpx;
                            color: #E82E2E;
                        }
                    }
                }
            }
            .goodsContentAll{
                padding-left: 40rpx;
            }
            .goodsContentNo{
                border-bottom: 1rpx solid #EEEEEE;
            }
            .goodsOpt{
                height: 112rpx;
                .optItem{
                    text-align: center;
                    color: #888;
                    font-size: 24rpx;
                    .optText{
                        margin-top: 10rpx;
                    }
                }
            }
            .rightTop{
                position: absolute;
                right: 0;
                top: 0;
                height: 40rpx;
                padding-top: 30rpx;
                font-size: 24rpx;
            }
            .checkItem{
                position: absolute;
                left: 16rpx;
                top: 0;
                height: 208rpx;
                line-height: 192rpx;
                font-size: 24rpx;
                .clickBox{
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
    .footBox{
        position: fixed;
        left: 0;
        bottom: 0;
        width:100%;
        height:98rpx;
        background:rgba(255,255,255,1);
        box-shadow:0px 0px 16rpx 2rpx rgba(222,222,222,0.5);
        font-size: 24rpx;
        .tui-menu-item{
            height: 88rpx;
            line-height: 88rpx;
            text-align: center;
            .iconfont2{
                margin-left: 20rpx;
                font-size: 24rpx;
            }
            &:hover{
                background: #f7f7f9;
            }
        }
        .allCheck{
            width: 100rpx;
            text-align: right;
            position: relative;
            .clickBox{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
            }
        }
        .selectNum{
            width: 100%;
            .selectCheckNum{
                min-width:22rpx;
                margin-top: -2px;
                padding-right: 30rpx;
            }
            .selectAllNum{
                min-width:88rpx;
                height:40rpx;
                border-radius:4rpx;
                border:1rpx solid rgba(232,46,46,1);
                color: #E82E2E;
                line-height: 42rpx;
                .nowNum{
                    width: 100%;
                    text-align: right;
                    padding-left: 20rpx;
                }
                .iconBox{
                    height: 100%;
                    width: 48rpx;
                    .iconfont2{
                        margin-right: -4px;
                    }
                }
            }
        }
        .allOpt{
            width: 164rpx;
            position: relative;
            .optBut{
                width:88rpx;
                height:44rpx;
                border-radius:22rpx;
                border:1rpx solid rgba(232,46,46,1);
                text-align: center;
                line-height: 44rpx;
                color: #E82E2E;
            }
        }
        .addGoods{
            width: 690rpx;
            height: 80rpx;
            background: #E82E2E;
            box-shadow: 0px 0px 16rpx 2rpx rgba(222, 222, 222, 0.5);
            border-radius: 40rpx;
            color: white;
            font-size: 32rpx;
            text-align: center;
            line-height: 80rpx;
            .iconfont2{
                margin-right: 10rpx;
            }
        }
    }
    .popup-main{
        position: relative;
        width: 600rpx;
        padding-top: 60rpx;
        border-radius: 16rpx;
        background:#fff;
        .pop-close{
            position: absolute;
            right: 20rpx;
            top: 10rpx;
            color: #999;
        }
        .poptitle{
            font-size: 32rpx;
            line-height: 1.1;
            text-align: center;
            color: #333333;
        }
        .pop-input{
            padding: 40rpx 40rpx 60rpx;
            color: #666;
            font-size: 26rpx;
            line-height: 46rpx;
        }
        // 按钮
        .pop-btn{
            display: flex;
            border-top: 1rpx solid #DEDEDE;
            view{
                width: 100%;
                font-size: 28rpx;
                line-height: 86rpx;
                color: #666;
                text-align: center;
                letter-spacing: 0.05em;
                overflow: hidden;
            }
        }
        .pop-btn view:nth-child(2){
            color: $red;
            border-left: 1rpx solid #DEDEDE;
        }
    }
}