.dataSummary{
    padding: 24rpx 28rpx 24rpx 30rpx;
    font-size: 28rpx;
    .rangeBox{
        height: 76rpx;
        line-height: 76rpx;
        color: #E82E2E;
        .iconfont2{
            margin-right: 12rpx;
        }
    }
    .itemTitle{
        color: #222;
        font-size: 30rpx;
        margin-top: 40rpx;
        font-weight: 600;
    }
	.allDataBox{
		text-align: center;
		margin-top: 20rpx;
		padding-bottom: 50rpx;
		.line{
			width: 1rpx;
			height: 80rpx;
			background: #EEEEEE;
		}
		.allDataItem{
			.allDataNum{
				color: #333333;
				font-size: 48rpx;
				line-height: 48rpx;
			}
			.allDataTitle{
				font-size: 24rpx;
				line-height: 24rpx;
				margin-top: 30rpx;
				color: #999999;
			}
		}
	}
	.bgBox{
		height: 20rpx;
		position: relative;
		.bg{
			position: absolute;
			left: -28rpx;
			right: -30rpx;
			top: 0;
			bottom: 0;
			background: #F5F5F5;
		}
	}
}