
.increasePrice{
    background: #f5f5f5;
    position: relative;
    height: 100%;
    .tabBox{
      height: 88rpx;
      line-height: 88rpx;
      font-size: 32rpx;
      background: white;
      text-align: center;
      .tabItem{
        color: #999999;
        width: 132rpx;
        position: relative;
        .line{
          position: absolute;
          left: 50%;
          width: 64rpx;
          height: 4rpx;
          background: #E82E2E;
          margin-left: -32rpx;
          bottom: 0;
        }
      }
      .activeTabItem{
        color: #333333;
      }
    }
    .popup-main{
        border-radius: 16rpx;
        .typeBox{
          margin-bottom: 20rpx;
          height: 88rpx;
          line-height: 88rpx;
          font-size: 32rpx;
          background: white;
          padding: 0 30rpx;
          .typeItem{
            color: #999999;
            margin-right: 60rpx;
          }
          .activeTypeItem{
            color: #333333;
          }
        }
        .pop-input{
            padding: 40rpx 20rpx 60rpx;
            color: #666;
            font-size: 26rpx;
            line-height: 46rpx;
            background:#fff;
            .addNum{
              font-size: #333;
              font-size: 32rpx;
              .numInput{
                width: 128rpx;
                height: 48rpx;
                border-radius: 4rpx;
                border:2rpx solid rgba(222,222,222,1);
                margin: 0 20rpx;
                color: #E82E2E;
                text-align: center;
              }
            }
            .contentBox{
              color: #666;
              font-size: 24rpx;
              margin-top: 30rpx;
              background: #F8F8F8;
              padding: 30rpx 20rpx;
              .contTitle{
                color: #333333;
                font-size: 28rpx;
              }
              .contentItem{
                position: relative;
                padding-left: 20rpx;
              }
              .contentItem::before{
                content: '';
                width:8rpx;
                height:8rpx;
                border-radius: 50%;
                background: #999;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 20rpx;
              }
            }
        }
    }
    // 按钮
    .pop-btn{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 120rpx;
        view{
            font-size: 28rpx;
            line-height: 86rpx;
            color: white;
            text-align: center;
            overflow: hidden;
            background: #E82E2E;
            width:690rpx;
            height:80rpx;
            background:rgba(232,46,46,1);
            box-shadow:0px 0px 16rpx 2rpx rgba(222,222,222,0.5);
            border-radius:40rpx;
            margin: 0 auto;
        }
    }
}