
.increasePrice{
    background: #f5f5f5;
    position: relative;
    height: 100%;
    overflow: auto;
    radio{
      transform:scale(0.6);
      transform-origin:50% 30%;
    }
    .m-r-10{
      margin-right: 10rpx;
    }
    .m-b-20{
      margin-bottom: 20rpx;
    }
    .content{
        border-radius: 16rpx;
        padding-top: 20rpx;
        .group{
          margin-bottom: 20rpx;
        }
        .list{
          .titleBox{
            padding: 20rpx 30rpx;
            color: #666;
            font-size: 26rpx;
            background:#fff;
            min-height: 88rpx;
						box-sizing: border-box;
            .label{
              font-size: 28rpx;
              color: #333;
            }
            .canvas{
              width: 200rpx;
              color: #F8B14A;
              font-size: 30rpx;
              .canvasIcon{
                display: inline-block;
                color: white;
                width: 40rpx;
                height: 40rpx;
                line-height: 40rpx;
                text-align: center;
                background: #F8B14A;
                border-radius: 50%;
                font-size: 24rpx;
                transform:scale(0.75);
                transform-origin:50% 20%;
              }
            }
            .inputBox{
              flex: 1;
              padding-left: 30rpx;
              font-size: 24rpx;
              .radioBox{
                margin-right: 40rpx;
                height: 36rpx;
                overflow: hidden;
              }
              .btnColor{
                width:112rpx;
                height:48rpx;
                border-radius:4rpx;
                border:1rpx solid rgba(51,51,51,1);
              }
              .more{
                font-size: 24rpx;
                margin-left: 10rpx;
              }
            }
            .delList{
              width: 50rpx;
              height: 44rpx;
              text-align: right;
            }
          }
          .tips{
            height: 66rpx;
            line-height: 66rpx;
            font-size: 24rpx;
            color: #999;
            padding: 0 30rpx;
          }
          .tipsBg{
            background: white;
          }
          .contentBox{
            background: white;
            padding: 20rpx 30rpx;
            .addImg{
              width:400rpx;
              height:160rpx;
              border-radius:4rpx;
              border:1rpx dashed rgba(151,151,151,1);
              line-height: 160rpx;
              text-align: center;
              image{
                height: 100%;
                width: 100%;
              }
              .iconfont2{
                font-size: 66rpx;
                color: #979797;
              }
            }
          }
          .addList{
            height: 88rpx;
            line-height: 88rpx;
            text-align: center;
            color: #E82E2E;
            font-size: 24rpx;
            background: white;
          }
        }
    }
    .bottomBox{
      height: 160rpx;
    }
    // 按钮
    .pop-btn{
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        height: 160rpx;
        background: #f5f5f5;
        view{
            font-size: 28rpx;
            line-height: 86rpx;
            color: white;
            text-align: center;
            overflow: hidden;
            background: #E82E2E;
            width:690rpx;
            height:80rpx;
            background:rgba(232,46,46,1);
            box-shadow:0px 0px 16rpx 2rpx rgba(222,222,222,0.5);
            border-radius:40rpx;
            margin: 40rpx auto;
        }
    }
    .imgListBox{
      height: 1000rpx;
      background: white;
      border-radius: 30rpx 30rpx 0 0;
      .imgListTitle{
        line-height: 90rpx;
        text-align: center;
        position: relative;
        .closeImg{
          position: absolute;
          width: 80rpx;
          height: 80rpx;
          right: 0;
          top: 0;
          .iconfont2{
            color: #999999;
            font-size: 32rpx;
          }
        }
      }
      .imgListScroll{
        height: 810rpx;
        .checkImg{
          border-radius: 8rpx;
          border: 1px solid #E82E2E;
        }
        .imgList{
          margin: 0 auto;
          width: 580rpx;
          height: 240rpx;
          padding: 10rpx;
          .imgBox{
            width: 580rpx;
            height: 240rpx;
            overflow: hidden;
            image{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .imgSub{
        height: 100rpx;
        border-top: 1rpx solid #DEDEDE;
        .imgSubBut{
          width: 690rpx;
          height: 72rpx;
          background: #E82E2E;
          box-shadow: 0px 0px 16rpx 1rpx rgba(222, 222, 222, 0.5);
          border-radius: 40rpx;
          text-align: center;
          line-height: 72rpx;
          margin: 14rpx auto;
          color: white;
        }
      }
    }
}
.list_wrap:nth-child(2){margin-top: 0;}
.word-wrap{
	word-break:break-all;
}