page {
  height: 100%;
}

.container {
  /* background: url("https://si.geilicdn.com/img-310900000167962321710a026860-unadjust_750_686.png") top no-repeat,
                linear-gradient(90deg, #fea044, #f9565d 63%, #e63378);
  background-size: 100% auto; */
  min-height: 100%;
  background: #F2F2F2;
}

/* 头部区域 */

.header {
  padding: 30rpx 30rpx 20rpx;
}

.header .item-touch {
  padding: 0 20rpx;
  background: transparent;
  border-radius: 22rpx;
  z-index: 1;
  position: relative;
}
.btn-normal .icon-guize{
  margin-right: 10rpx;
}

/* 内容区域 */

.content {
  position: relative;
  box-sizing: border-box;
  padding: 0 30rpx 60rpx 30rpx;
}

/* 砍价信息 */

.infos-wrap {
  background: #fff;
  padding: 0 20rpx 20rpx;
  border-radius: 16rpx 16rpx 0 0;
}

.infos-top {
  position: relative;
  top: -42rpx;
  margin-bottom: -22rpx;
  z-index: 0;
}

.infos-img {
  width: 120rpx;
  height: 120rpx;
  padding: 8rpx;
  background: #fff;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
}

.infos-img image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.infos-name {
  margin: 8rpx auto 0;
  width: 80%;
  font-size: 28rpx;
  color: #333;
  text-align: center;
  line-height: 32rpx;
}

.infos-prompt {
  text-align: center;
  font-size: 32rpx;
  color: #333;
  line-height: 1.1;
  margin-bottom: 30rpx;
}

.infos-item {
  padding: 20rpx;
  margin-top: 40rpx;
  display: flex;
  background:rgba(255,233,203,0.5);
}

.infos-item-img {
  flex: none;
  width: 200rpx;
  height: 200rpx;
}

.infos-item-img image {
  width: 100%;
  height: 100%;
}

.infos-item-info {
  margin-left: 10rpx;
  flex: auto;
  
}

.infos-item-name {
  font-size: 28rpx;
  color: #333;
  line-height: 40rpx;
  height: 80rpx;
}

.infos-item-stock .stock-widget {
  display: inline-block;
  min-width: 100rpx;
  padding: 0 20rpx;
  height: 40rpx;
  font-size: 24rpx;
  color: #fff;
  line-height: 40rpx;
  background:linear-gradient(215deg,#fea190 0%,#f27257 100%);
  border-radius: 16rpx 0 16px 0;
}
.price_wrap{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}
.infos-item-price {
  font-size: 0;
  margin-top: 36rpx;
}

.infos-item-price .price1 {
  font-size: 24rpx;
  line-height: 32rpx;
}

.infos-item-price .price2 {
  font-size: 34rpx;
  line-height: 40rpx;
  margin-right: 10rpx;
}

.infos-item-price .price3 {
  font-size: 24rpx;
  color: #999;
  line-height: 32rpx;
  text-decoration: line-through;
}

/* 分割线 */

/* .connect {
  position: relative;
  height: 20rpx;
}

.connect-ring {
  position: absolute;
  top: -28rpx;
  height: 76rpx;
  width: 20rpx;
  padding: 8rpx 6rpx;
  box-sizing: border-box;
}

.connect-ring text {
  position: relative;
  z-index: 8;
  display: block;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 20rpx;
}

.connect-ring:after, .connect-ring:before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  height: 20rpx;
  width: 20rpx;
  border-radius: 20rpx;
}

.connect-ring.bgf-ring--left {
  left: 20rpx;
}

.connect-ring.bgf-ring--left:before {
  top: 0;
  background: #f4914e;
}

.connect-ring.bgf-ring--left:after {
  bottom: 0;
  background: #f4914e;
}

.connect-ring.bgf-ring--right {
  right: 20rpx;
}

.connect-ring.bgf-ring--right:before {
  top: 0;
  background: #e03e71;
}

.connect-ring.bgf-ring--right:after {
  bottom: 0;
  background: #e03e71;
} */

/* 砍价进度 */

.bargain-wrap {
  position: relative;
  background: #fff;
  padding: 20rpx 30rpx 40rpx;
  border-radius: 0 0 16rpx 16rpx;
}

.bargain-info {
  display: flex;
  align-items: center;
  font-size: 24rpx;
  color: #666;
  line-height: 40rpx;
}

.bargain-info .focal {
  margin: 0 5rpx;
  color: #E82E2E;
}

.bargain-p {
  min-height: 40rpx;
}

.bargain-people {
  font-size: 24rpx;
  color: #000;
  text-align: center;
  line-height: 40rpx;
}
.bargain-people text{
  padding: 0 4rpx;
  line-height: 32rpx;
  font-size: 22rpx;
  color: #333;
  text-align: center;
  background: #fff;
  box-shadow:0 0 2rpx 0 rgba(208,208,208,1);
  border-radius:4rpx;
}
/* 进度条 */

.bgn__process {
  position: relative;
  padding: 24rpx 0;
}

.bgn__process-bottom {
  z-index: 1;
  /* overflow: hidden; */
  background: #F2F2F2;
}

.bgn__process-bottom, .bgn__process-process {
  position: relative;
  height: 12rpx;
  border-radius: 14rpx;
}

.bgn__process-process {
  position: relative;
  background: #E82E2E;
}

.bgn__process-process.process--ani:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10rpx;
  width: 20rpx;
  height: 20rpx;
  border-radius: 50%;
  background: #E93333;
}

/* 操作按钮 */
.btn-normal{
  padding: 0;
}
.btn-item {
  color: #E82E2E;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
  font-size: 28rpx;
  border-radius: 8rpx;
  letter-spacing: 0.05em;
}

.btn-item__buy {
  width: 260rpx;
  background: #fff;
  border: 1rpx solid #E83030;
}

.btn-item__buy.complete {
  width: 340rpx;
  animation: btn_anim 0.9s linear infinite;
  transform-origin: center;
}

.btn-item__main {
  color: #fff;
  width: 340rpx;
  background: linear-gradient(228deg,#f55b5b 0%,rgba(245,90,90,1) 0%,#e82e2e 100%);
  animation: btn_anim 0.9s linear infinite;
  transform-origin: center;
}

.btn-item-long {
  width: 340rpx;
}

/* 按钮动画 */

@keyframes btn_anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

/* 好友助力榜 */

.records-container {
  margin-top: 20rpx;
}

.records {
  position: relative;
  color: #333;
}

.records-back {
  position: absolute;
  left: -14rpx;
  right: -14rpx;
  top: -14rpx;
  height: 28rpx;
  border-radius: 28rpx;
  z-index: 1;
  background: #cb272d;
}

.records-content {
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 20rpx;
}

.records-h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.records-h2 text {
  position: relative;
  padding-left: 10rpx;
  color: #000;
  font-size: 28rpx;
  line-height: 30rpx;
  border-left: 1rpx solid #E82E2E;
}

.friend-help {
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  /* max-height: 280rpx; */
}
.records-item{
  padding: 12rpx 20rpx 12rpx 14rpx;
  margin-top: 20rpx;
  background: #F8F8F8;
  border-radius: 8rpx;
}
.records-left, .records-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.records-left image {
  width: 64rpx;
  height: 64rpx;
  border-radius: 50%;
}

.records-left text {
  color: #333;
  margin-left: 10rpx;
}

.records-left text, .records-right {
  font-size: 24rpx;
  line-height: 40rpx;
}
.records-right{color: #272727;}
.records-right .red {
  color: #E82E2E;
}
/* 无数据 */
.yoshop-notcont{
  padding: 44rpx 100rpx;
	position: relative;
	top: initial;
	margin-top: initial;
}
.yoshop-notcont .iconfont2{
	color: #ececec;
}