.col-2a{color: #2A2A30;}
.minishop-list{
	padding: 0 30rpx;
	position: relative;
	margin-top: 1rpx;
}
// 背景
.mbg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 240rpx;
	background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
}
/* 商品组 */
.goods-list {
	position: relative;
  box-sizing: border-box;
  padding-top: 32rpx;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.goods-list-wrap{
	width: 336rpx;
	overflow: hidden;
}
.goods-item{
  float: left;
	width: 336rpx;
	margin-bottom: 20rpx;
  background:#fff;
  // box-shadow:0 0 8rpx 2rpx rgba(222,222,222,0.5);
  border-radius: 16rpx;
  box-sizing: border-box;
  overflow: hidden;
}
.goods-item:nth-child(2n){
	margin-right: 0;
}
.goods-item_pic{
	position: relative;
}
image{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.detail {
  padding: 8rpx 8rpx 20rpx;
  background: #fff;
}
.has-num{
	margin-top: 10rpx;
	color: #FFBF00;
	text{
		margin-right: 6rpx;
	}
}
.checkbox{
	position: absolute;
	right: 20rpx;
	top: 20rpx;
}
// 用户
.user-img{
	width:40rpx;
	height:40rpx;
	margin-right: 10rpx;
	border-radius: 50%;
	overflow: hidden;
}
.read-num text{
	margin-right: 10rpx;
}