// 标题栏
view,button,navigator{
	box-sizing: border-box;
}
.left-title{
	font-size: 30rpx;
	color: #222;
	white-space: nowrap;
	text{
		margin-right: 16rpx;
		font-size: 36rpx;
	}
}
// 头部
.guanli{
	font-size: 32rpx;
}
// tab
.attention-tab-wrap,.attention-tab{
	width: 100%;
	height: 72rpx;
}
.attention-tab{
	position: fixed;
	left: 0;
	font-size: 32rpx;
	color: #999;
	background-color: #fff;
	z-index: 9;
	/* #ifdef MP */
	// top: 216rpx;
	/* #endif */
	.attention-tab-item{
		line-height: 44rpx;
		border-radius: 22rpx;
		padding: 0 20rpx;
		margin-right: 20rpx;
	}
	.on{
		color: #222;
		background-color: #f6f6f6;
	}
}
.main{padding-bottom: 30rpx;}