view{box-sizing: border-box;}
/* footer */
.footer,.foot{
	height: 88rpx;
	width: 100%;
}
.foot{
	position: fixed;
	left: 0;
	bottom: 0;
	padding-left: 80rpx;
	background:#fff;
	box-shadow:0 0 16rpx 0 rgba(222,222,222,0.5);
	z-index: 2;
}
.foot-btn{
	width: 280rpx;
	line-height:64rpx;
	text-align: center;
	background: $red;
	box-shadow:0 0 16rpx 2rpx rgba(222,222,222,0.5);
	border-radius: 40rpx;
	overflow: hidden;
	text{
		margin-right: 10rpx;
	}
}
// list
.list{
	line-height: 88rpx;
}