@font-face {
 font-family: 'iconfont2';  /* Project id 1785787 */
 src: url('https://at.alicdn.com/t/font_1785787_9c1r9n32aak.woff2?t=1623288257526') format('woff2'),
			url('https://at.alicdn.com/t/font_1785787_9c1r9n32aak.woff?t=1623288257526') format('woff'),
			url('https://at.alicdn.com/t/font_1785787_9c1r9n32aak.ttf?t=1623288257526') format('truetype');
}

.iconfont2 {
  font-family: "iconfont2" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-channel:before {
  content: "\e769";
}

.icon-Directselling:before {
  content: "\e767";
}

.icon-Tips:before {
  content: "\e766";
}

.icon-share4:before {
  content: "\e765";
}

.icon-bianzu7:before {
  content: "\e764";
}

.icon-shop5:before {
  content: "\e759";
}

.icon-ShoppingCart:before {
  content: "\e75a";
}

.icon-classification4:before {
  content: "\e75b";
}

.icon-shopping:before {
  content: "\e75c";
}

.icon-my:before {
  content: "\e75d";
}

.icon-homepage:before {
  content: "\e75e";
}

.icon-share3:before {
  content: "\e75f";
}

.icon-search:before {
  content: "\e760";
}

.icon-download2:before {
  content: "\e761";
}

.icon-Purchaseattention:before {
  content: "\e762";
}

.icon-MORE:before {
  content: "\e763";
}

.icon-Bargaining2:before {
  content: "\e756";
}

.icon-seckill3:before {
  content: "\e757";
}

.icon-export:before {
  content: "\e758";
}

.icon-picture1:before {
  content: "\e754";
}

.icon-link1:before {
  content: "\e755";
}

.icon-data1:before {
  content: "\e753";
}

.icon-Hotsale2:before {
  content: "\e752";
}

.icon-more4:before {
  content: "\e751";
}

.icon-label:before {
  content: "\e750";
}

.icon-clerk:before {
  content: "\e74e";
}

.icon-binding:before {
  content: "\e74f";
}

.icon-sourcematerial:before {
  content: "\e74d";
}

.icon-Prawns:before {
  content: "\e749";
}

.icon-Invitefriends:before {
  content: "\e74a";
}

.icon-smallshrimp:before {
  content: "\e74b";
}

.icon-lobster:before {
  content: "\e74c";
}

.icon-Copymerchandise:before {
  content: "\e747";
}

.icon-Copythewholestore:before {
  content: "\e748";
}

.icon-seckill2:before {
  content: "\e740";
}

.icon-Shareshop1:before {
  content: "\e741";
}

.icon-Shareproducts:before {
  content: "\e742";
}

.icon-Synchronousgoods:before {
  content: "\e743";
}

.icon-Bargaining1:before {
  content: "\e744";
}

.icon-Storesynchronization:before {
  content: "\e745";
}

.icon-Shopboy:before {
  content: "\e746";
}

.icon-wifi:before {
  content: "\e73e";
}

.icon-Bluetooth:before {
  content: "\e73f";
}

.icon-Collectioncode:before {
  content: "\e73d";
}

.icon-setup1:before {
  content: "\e73c";
}

.icon-group:before {
  content: "\e738";
}

.icon-share1:before {
  content: "\e739";
}

.icon-makemoney:before {
  content: "\e73a";
}

.icon-earn:before {
  content: "\e73b";
}

.icon-choice1:before {
  content: "\e736";
}

.icon-switch:before {
  content: "\e737";
}

.icon-recommend1:before {
  content: "\e734";
}

.icon-Hotsale1:before {
  content: "\e735";
}

.icon-Mediumevaluation:before {
  content: "\e72f";
}

.icon-negativecomment:before {
  content: "\e732";
}

.icon-Favorablecomments:before {
  content: "\e733";
}

.icon-classification2:before {
  content: "\e72b";
}

.icon-classification3:before {
  content: "\e72c";
}

.icon-classification11:before {
  content: "\e72e";
}

.icon-more3:before {
  content: "\e72a";
}

.icon-Collection:before {
  content: "\e726";
}

.icon-enterprise1:before {
  content: "\e727";
}

.icon-Photo:before {
  content: "\e728";
}

.icon-identity:before {
  content: "\e729";
}

.icon-setup:before {
  content: "\e725";
}

.icon-Paymentapplication:before {
  content: "\e724";
}

.icon-adopt:before {
  content: "\e721";
}

.icon-Underreview:before {
  content: "\e722";
}

.icon-fail:before {
  content: "\e723";
}

.icon-Notcertified:before {
  content: "\e71f";
}

.icon-Certified:before {
  content: "\e720";
}

.icon-Yes1:before {
  content: "\e71d";
}

.icon-Wrong:before {
  content: "\e71e";
}

.icon-Merchants:before {
  content: "\e71c";
}

.icon-choice:before {
  content: "\e715";
}

.icon-classification1:before {
  content: "\e71b";
}

.icon-homepage2:before {
  content: "\e70b";
}

.icon-homepage1:before {
  content: "\e70c";
}

.icon-ShoppingCart2:before {
  content: "\e70e";
}

.icon-Optimization2:before {
  content: "\e70f";
}

.icon-ShoppingCart1:before {
  content: "\e710";
}

.icon-Optimization1:before {
  content: "\e711";
}

.icon-my1:before {
  content: "\e712";
}

.icon-my2:before {
  content: "\e713";
}

.icon-personalstores2:before {
  content: "\e714";
}

.icon-Notice1:before {
  content: "\e716";
}

.icon-Commoditydisplay:before {
  content: "\e717";
}

.icon-Chooseastore:before {
  content: "\e718";
}

.icon-personalstores1:before {
  content: "\e719";
}

.icon-seckill1:before {
  content: "\e71a";
}

.icon-guest:before {
  content: "\e709";
}

.icon-merchant:before {
  content: "\e70a";
}

.icon-exchange:before {
  content: "\e708";
}

.icon-like:before {
  content: "\e707";
}

.icon-Goodstobereceived:before {
  content: "\e703";
}

.icon-Allorders:before {
  content: "\e704";
}

.icon-Tobepaid:before {
  content: "\e705";
}

.icon-refund:before {
  content: "\e706";
}

.icon-Shareshop:before {
  content: "\e6fa";
}

.icon-report:before {
  content: "\e6fb";
}

.icon-Officialcustomerservice:before {
  content: "\e6fc";
}

.icon-Shippingaddress:before {
  content: "\e6fd";
}

.icon-proposal:before {
  content: "\e6fe";
}

.icon-Myhelp:before {
  content: "\e6ff";
}

.icon-Mybargain:before {
  content: "\e700";
}

.icon-Myinformation:before {
  content: "\e701";
}

.icon-coupon3:before {
  content: "\e702";
}

.icon-shop4:before {
  content: "\e6f9";
}

.icon-shop3:before {
  content: "\e6d4";
}

.icon-Returnaddress1:before {
  content: "\e6f8";
}

.icon-close:before {
  content: "\e6f5";
}

.icon-open:before {
  content: "\e6f6";
}

.icon-printer:before {
  content: "\e6f4";
}

.icon-stock1:before {
  content: "\e6f3";
}

.icon-Outlets:before {
  content: "\e6f1";
}

.icon-makeanappointment:before {
  content: "\e6f2";
}

.icon-more2:before {
  content: "\e6f0";
}

.icon-Salesbilling:before {
  content: "\e6ef";
}

.icon-changeanotherone:before {
  content: "\e6ee";
}

.icon-Priceincrease:before {
  content: "\e6ed";
}

.icon-Productlist1:before {
  content: "\e6c7";
}

.icon-Launchproduct:before {
  content: "\e6c8";
}

.icon-toconfigure:before {
  content: "\e6c9";
}

.icon-recyclebin:before {
  content: "\e6ca";
}

.icon-intimidate2:before {
  content: "\e6cb";
}

.icon-Todolist1:before {
  content: "\e6cc";
}

.icon-coupon2:before {
  content: "\e6cd";
}

.icon-Storetemplate:before {
  content: "\e6ce";
}

.icon-Carouselsettings:before {
  content: "\e6cf";
}

.icon-Drawingartifact:before {
  content: "\e6d0";
}

.icon-Branchaccountnumber:before {
  content: "\e6d2";
}

.icon-Capture:before {
  content: "\e6d5";
}

.icon-Fullpackage:before {
  content: "\e6d6";
}

.icon-Optimization:before {
  content: "\e6d7";
}

.icon-Priceincreasesettings:before {
  content: "\e6d8";
}

.icon-Freighttemplate:before {
  content: "\e6d9";
}

.icon-Videonavigation:before {
  content: "\e6da";
}

.icon-Livebroadcastapplication:before {
  content: "\e6db";
}

.icon-Transactionsetup:before {
  content: "\e6dc";
}

.icon-Orderwriteoff:before {
  content: "\e6dd";
}

.icon-Livebroadcastsettings:before {
  content: "\e6de";
}

.icon-Mylivebroadcast:before {
  content: "\e6df";
}

.icon-Shopassistantsmine:before {
  content: "\e6e0";
}

.icon-Mydistribution:before {
  content: "\e6e1";
}

.icon-Browsingtracks:before {
  content: "\e6e2";
}

.icon-Bookkeeping:before {
  content: "\e6e3";
}

.icon-Userlist1:before {
  content: "\e6e4";
}

.icon-Completed:before {
  content: "\e6e5";
}

.icon-classification:before {
  content: "\e6e6";
}

.icon-Cancelled:before {
  content: "\e6e7";
}

.icon-Offlinestores:before {
  content: "\e6e8";
}

.icon-Pending:before {
  content: "\e6e9";
}

.icon-Delivered:before {
  content: "\e6ea";
}

.icon-canva:before {
  content: "\e6eb";
}

.icon-Aftersale:before {
  content: "\e6ec";
}

.icon-copy2:before {
  content: "\e6c6";
}

.icon-upload:before {
  content: "\e6c5";
}

.icon-enlarge:before {
  content: "\e6c4";
}

.icon-contact2:before {
  content: "\e6c3";
}

.icon-Todolist:before {
  content: "\e6c1";
}

.icon-Hotsale:before {
  content: "\e6be";
}

.icon-recommend:before {
  content: "\e6c0";
}

.icon-Notice:before {
  content: "\e6c2";
}

.icon-contact1:before {
  content: "\e6bf";
}

.icon-time1:before {
  content: "\e6bc";
}

.icon-couriernumber:before {
  content: "\e6bd";
}

.icon-copy:before {
  content: "\e6ba";
}

.icon-copy1:before {
  content: "\e6bb";
}

.icon-seckill:before {
  content: "\e6b6";
}

.icon-screen2:before {
  content: "\e6b7";
}

.icon-coupon1:before {
  content: "\e6b8";
}

.icon-Bargaining:before {
  content: "\e6b9";
}

.icon-MerchantCA:before {
  content: "\e6b4";
}

.icon-Personalcertification:before {
  content: "\e6b5";
}

.icon-calendar1:before {
  content: "\e6b3";
}

.icon-commodity4:before {
  content: "\e6b0";
}

.icon-personal:before {
  content: "\e6b1";
}

.icon-enterprise:before {
  content: "\e6b2";
}

.icon-intimidate1:before {
  content: "\e6ad";
}

.icon-Noowner:before {
  content: "\e6ae";
}

.icon-Thereisamaster:before {
  content: "\e6af";
}

.icon-Alipay:before {
  content: "\e6a8";
}

.icon-paybycard:before {
  content: "\e6a9";
}

.icon-cash:before {
  content: "\e6aa";
}

.icon-time:before {
  content: "\e6ab";
}

.icon-WeChat1:before {
  content: "\e6ac";
}

.icon-picture:before {
  content: "\e6a6";
}

.icon-link:before {
  content: "\e6a7";
}

.icon-commodity3:before {
  content: "\e6a2";
}

.icon-extension:before {
  content: "\e6a3";
}

.icon-apply:before {
  content: "\e6a4";
}

.icon-Scan:before {
  content: "\e6a1";
}

.icon-lianxi:before {
  content: "\e623";
}

.icon-shuangjiantou-shang:before {
  content: "\e6d3";
}

.icon-jiantou-xia:before {
  content: "\e6f7";
}

.icon-Merchandising:before {
  content: "\e69f";
}

.icon-roam:before {
  content: "\e6a0";
}

.icon-data:before {
  content: "\e661";
}

.icon-retailstore:before {
  content: "\e693";
}

.icon-InviteFriends:before {
  content: "\e69c";
}

.icon-glanceover:before {
  content: "\e69d";
}

.icon-shop2:before {
  content: "\e69e";
}

.icon-address:before {
  content: "\e660";
}

.icon-duihao:before {
  content: "\e70d";
}

.icon-duihao-copy:before {
  content: "\e782";
}

.icon-prohibit:before {
  content: "\e65e";
}

.icon-nodaishouhuo:before {
  content: "\e65d";
}

.icon-nodaifukuan:before {
  content: "\e65f";
}

.icon-nodaifahuo:before {
  content: "\e662";
}

.icon-nodaipingjia:before {
  content: "\e682";
}

.icon-commodity2:before {
  content: "\e699";
}

.icon-bianzu1:before {
  content: "\e69a";
}

.icon-nochongzhi:before {
  content: "\e69b";
}

.icon-nodingdan:before {
  content: "\e694";
}

.icon-noyouhuiquan:before {
  content: "\e695";
}

.icon-classify:before {
  content: "\e696";
}

.icon-bianzu22:before {
  content: "\e697";
}

.icon-shoppingcart:before {
  content: "\e698";
}

.icon-broadcast1:before {
  content: "\e692";
}

.icon-more1:before {
  content: "\e690";
}

.icon-download1:before {
  content: "\e691";
}

.icon-synchro:before {
  content: "\e68f";
}

.icon-shangjiantou:before {
  content: "\e730";
}

.icon-xiajiantou:before {
  content: "\e731";
}

.icon-screen1:before {
  content: "\e68e";
}

.icon-subtract:before {
  content: "\e68c";
}

.icon-add:before {
  content: "\e68d";
}

.icon-suona1:before {
  content: "\e674";
}

.icon-sellwell:before {
  content: "\e685";
}

.icon-undercarriage1:before {
  content: "\e686";
}

.icon-grounding1:before {
  content: "\e687";
}

.icon-givethethumbs-up:before {
  content: "\e688";
}

.icon-delete:before {
  content: "\e689";
}

.icon-stock:before {
  content: "\e68a";
}

.icon-synchronization:before {
  content: "\e68b";
}

.icon-boy:before {
  content: "\e683";
}

.icon-girl:before {
  content: "\e684";
}

.icon-pull-down1:before {
  content: "\e681";
}

.icon-shanchu2:before {
  content: "\e680";
}

.icon-cross:before {
  content: "\e67d";
}

.icon-cross-mini:before {
  content: "\e780";
}

.icon-below:before {
  content: "\e67c";
}

.icon-upper:before {
  content: "\e67e";
}

.icon-questionmark:before {
  content: "\e67f";
}

.icon-jingshi:before {
  content: "\e77f";
}

.icon-jianqu:before {
  content: "\e61b";
}

.icon-jiahao:before {
  content: "\e613";
}

.icon-grounding:before {
  content: "\e67b";
}

.icon-commenton:before {
  content: "\e678";
}

.icon-blacklist:before {
  content: "\e679";
}

.icon-edit1:before {
  content: "\e67a";
}

.icon-more-mini:before {
  content: "\e781";
}

.icon-Yes:before {
  content: "\e66d";
}

.icon-flame:before {
  content: "\e671";
}

.icon-more:before {
  content: "\e672";
}

.icon-screen:before {
  content: "\e673";
}

.icon-Top:before {
  content: "\e675";
}

.icon-MyProfile:before {
  content: "\e676";
}

.icon-undercarriage:before {
  content: "\e677";
}

.icon-address1:before {
  content: "\e667";
}

.icon-masterplate1:before {
  content: "\e670";
}

.icon-Productlist:before {
  content: "\e669";
}

.icon-commodity1:before {
  content: "\e66a";
}

.icon-intimidate:before {
  content: "\e66b";
}

.icon-FreeShipping:before {
  content: "\e66c";
}

.icon-select:before {
  content: "\e66e";
}

.icon-install:before {
  content: "\e66f";
}

.icon-logistics:before {
  content: "\e65a";
}

.icon-coupon:before {
  content: "\e663";
}

.icon-edit:before {
  content: "\e664";
}

.icon-userlist:before {
  content: "\e665";
}

.icon-scanpaths:before {
  content: "\e666";
}

.icon-categories:before {
  content: "\e668";
}

.icon-certification:before {
  content: "\e642";
}

.icon-store:before {
  content: "\e644";
}

.icon-Uploadphoto:before {
  content: "\e640";
}

.icon-bianzu6:before {
  content: "\e63d";
}

.icon-shop1:before {
  content: "\e63b";
}

.icon-fanhui:before {
  content: "\e6a5";
}

.icon-commodity:before {
  content: "\e636";
}

.icon-eye:before {
  content: "\e633";
}

.icon-suona2:before {
  content: "\e638";
}

.icon-broadcast:before {
  content: "\e639";
}

.icon-suona:before {
  content: "\e63a";
}

.icon-share:before {
  content: "\e637";
}

.icon-circleoffriends:before {
  content: "\e631";
}

.icon-share2:before {
  content: "\e632";
}

.icon-contact:before {
  content: "\e634";
}

.icon-calendar:before {
  content: "\e635";
}

.icon-increase:before {
  content: "\e62b";
}

.icon-pull-down:before {
  content: "\e62c";
}

.icon-delete2:before {
  content: "\e62d";
}

.icon-WeChat:before {
  content: "\e62e";
}

.icon-qq:before {
  content: "\e62f";
}

.icon-Qzone:before {
  content: "\e630";
}

.icon-theheart:before {
  content: "\e625";
}

.icon-searchfor:before {
  content: "\e626";
}

.icon-relay:before {
  content: "\e627";
}

.icon-preparation:before {
  content: "\e628";
}

.icon-shop:before {
  content: "\e629";
}

.icon-download:before {
  content: "\e62a";
}

.icon-bofang:before {
  content: "\e618";
}

.icon-kefu1:before {
  content: "\e619";
}

.icon-notuandui-:before {
  content: "\e65c";
}

.icon-shanchu1:before {
  content: "\e72d";
}

.icon-yifahuo:before {
  content: "\e617";
}

.icon-daizhifu:before {
  content: "\e615";
}

.icon-daizhifu2:before {
  content: "\e616";
}

.icon-wanchengdingdan:before {
  content: "\e614";
}

.icon-bianji:before {
  content: "\e610";
}

.icon-shanchu:before {
  content: "\e60f";
}

.icon-kefu:before {
  content: "\e60d";
}

.icon-huaban2:before {
  content: "\e659";
}

.icon-huaban1:before {
  content: "\e658";
}

.icon-bianzu4:before {
  content: "\e657";
}

.icon-juxing7:before {
  content: "\e656";
}

.icon-juxing6:before {
  content: "\e655";
}

.icon-juxing5:before {
  content: "\e653";
}

.icon-juxing3:before {
  content: "\e64f";
}

.icon-map2:before {
  content: "\e64d";
}

.icon-juxing1:before {
  content: "\e64c";
}

.icon-huaban:before {
  content: "\e649";
}

.icon-juxing:before {
  content: "\e64a";
}

.icon-tuiguangerweima:before {
  content: "\e64b";
}

.icon-fenxiaodingdan:before {
  content: "\e651";
}

.icon-bianzu3:before {
  content: "\e648";
}

.icon-guize:before {
  content: "\e60b";
}

.icon-xingzhuang:before {
  content: "\e63c";
}

.icon-weixin:before {
  content: "\e63e";
}

.icon-tixianmingxi:before {
  content: "\e63f";
}

.icon-zhifubao:before {
  content: "\e641";
}

.icon-bianzu21:before {
  content: "\e643";
}

.icon-yinhangka:before {
  content: "\e645";
}

.icon-bianzu5:before {
  content: "\e647";
}

.icon-shangshengbeifen2:before {
  content: "\e64e";
}

.icon-shezhi-yue:before {
  content: "\e650";
}

.icon-shangshengbeifen3:before {
  content: "\e654";
}

.icon-shijian:before {
  content: "\e609";
}

.icon-bianzu:before {
  content: "\e608";
}

.icon-bianzu2:before {
  content: "\e607";
}

.icon-Fill1:before {
  content: "\e606";
}

.icon-kanjiashu:before {
  content: "\e61c";
}

.icon-sousuo:before {
  content: "\e620";
}

.icon-shaixuan:before {
  content: "\e621";
}

.icon-gerenzhongxin:before {
  content: "\e622";
}

.icon-gengduobeifen2:before {
  content: "\e61e";
}

