.list-wrap{box-sizing: border-box;}
.user-rank{
	margin-top: 4rpx;
	width: 80rpx;
	line-height: 32rpx;
	background: linear-gradient(90deg, #6F5A55 0%, #50433F 100%);
	border-radius: 18rpx;
}
.list-txt1{
	width: 48rpx;
}
.list-txt2{
	width: 150rpx;
}
.list-txt3{
	width: 120rpx;
}
.list-txt4{width: 120rpx;}