.profile-list .admin {
  padding-left: 15px;
  font-size: 30rpx;
  color: #333;
}
.address-cont-title{
  margin: 20rpx 0;
  // box-shadow:0 0 16rpx 2rpx rgba(222,222,222,0.5);
  // border-radius: 8rpx;
}
.address-box .left-name {
  width: 152rpx;
}

.address-cont-title .list {
  width: auto;
  margin: 0 30rpx;
	height: 112rpx;
	line-height: 112rpx;
	box-sizing: border-box;
	border-bottom: 1rpx solid #DEDEDE;
}
.address-cont-title .list:last-child{border-bottom: 0;}
.tui-picker-detail text {
  padding: 0 10rpx;
}

.infoText {
  line-height: 56rpx;
  display: block;
}

picker-view {
  background-color: white;
  padding: 0;
  width: 100%;
  height: 480rpx;
  bottom: 0;
  position: fixed;
}

picker-view-column view {
  vertical-align: middle;
  font-size: 28rpx;
  line-height: 28rpx;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-element-wrapper {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 21;
}

.animation-element {
  display: flex;
  position: fixed;
  width: 100%;
  height: 570rpx;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}

.animation-button {
  margin-top: 20rpx;
  top: 20rpx;
  width: 400rpx;
  height: 100rpx;
  line-height: 100rpx;
  align-items: center;
}

.address-text {
  color: #999;
  display: inline-flex;
  position: fixed;
  margin-top: 20rpx;
  height: 50rpx;
  text-align: center;
  line-height: 50rpx;
  font-size: 30rpx;
  font-family: Arial, Helvetica, sans-serif;
}

.left-bt {
  left: 30rpx;
}

.right-bt {
  right: 30rpx;
  color: #ec5151;
}

.line {
  display: block;
  position: fixed;
  height: 1rpx;
  width: 100%;
  margin-top: 89rpx;
  background-color: #eee;
}

.address-box .right-cont input {
  width: 100%;
  font-size: 24rpx;
  color: #444;
}

/* 操作按钮 */
.btn-wrap{
  padding: 0 30rpx;
  margin-top: 50rpx;
}
.profile-btn{
  width: 100%;
  /* width: 324rpx; */
}
.btn-wrap button{
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 28rpx;
  letter-spacing: 0.05em;
}
.btn-wrap .btn-green button{
  border: 1rpx solid #56BB08;
  color: #56BB08;
  background: none;
}
.col-bc{color: #BCBCBC;}