.cardBox{
    padding-top: 35rpx;
    .card{
        .content{
            padding-top: 15rpx;
            .listItem{
                height: 156rpx;
                .imgBox{
                    width: 84rpx;
                    height: 84rpx;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 84rpx;
                    .iconfont2{
                        font-size: 44rpx;
                    }
                }
                .imgBg1{
                    background: #FFEFF0;
                    color: #E82E2E;
                }
                .imgBg2{
                    background: #FFF5E1;
                    color: #F8B14A;
                }
                .widBox{
                    width: 22rpx;
                }
                .lineBox {
                    border-bottom: 1rpx solid #EEEEEE;
                    height: 100%;
                    flex: 1;
                    .infoBox{
                        flex: 1;
                        .name{
                            color: #333333;
                            font-size: 28rpx;
                            font-weight: 600;
                        }
                        .info{
                            margin-top: 11rpx;
                            color: #999999;
                            font-size:12px;
                        }
                    }
                    .optBox{
                        position: relative;
                        .but{
                            font-size: 24rpx;
                            line-height: 48rpx;
                            width:128rpx;
                            height:48rpx;
                            border-radius:24rpx;
                            color: #E82E2E;
                            text-align: center;
                            border:1rpx solid rgba(232,46,46,1);
                        }
                        .VIPAdd, .VIPAdd1{
                            position: absolute;
                            left: -44rpx;
                            top: -44rpx;
                            width:114rpx;
                            height:36rpx;
                            border-radius:200rpx 200rpx 0 200rpx;
                            color: white;
                            font-size: 24rpx;
                            text-align: center;
                        }
                        .VIPAdd{
                            background:rgba(248,177,74,1);
                        }
                        .VIPAdd1{
                            background: linear-gradient(270deg, #F24343 0%, #E02020 100%);
                        }
                    }
                }
            }
        }
    }
}